/* universal styles */
html {font-size: 16px;
     }

body {}

h1 {font-family: 'Montserrat', sans-serif;}

h2 {}

a{text-decoration: none;}

p {}

.funnygif {align-content: center;}
.googledoc {font-size: 10px}