body {
	background: #7DDB91;
	color: black;
	font-family: Helvetica, serif;
	font-size: 14px;
	background-size: 100%, 100%;
	line-height: 1.2;
	text-align: left
}

h1{
	text-align: center;
	color: white;
	font-family: Helvetica;
	font-size: 4em;
	background: green;
	width: 65%
	margin-left: auto;
	margin-right: auto;
}

h2{
	font-size: 2em;
	text-align: left;
	color: black;
}

ul{
	font-size: 16px;

}

ol{font-size: 16px;}

li{font-size: 16px;}

img{max-width: 90%;
	padding-top: 20px;
}

.container{
	background: #DCEAD0;
	padding: 15px;
	border:10px inset green;
	margin: 30px auto;
	width: 95%;
	float: center;
}

.number{
	text-align: left;
	font-style: bold;
}

#table-of-contents {
  list-style: none;
  position: relative;
  top: 25px;
  left: 25px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 21px;
  width: 50%;
  color: black;
}

#table-of-contents a {
	display: block;
	display width: 30px;
	padding: 5px;
	color: black;
	text-decoration: none;
}

#table-of-contents a:hover {
	color: white;
	background: green;
	text-decoration: none;
}
a#back-to-top{
	width: 200px;
	height: 200px;
	background: green;
	border: 2px inset #DCEAD0;
	display: block;
	margin: 20px auto;
	text-align: center;
	text-decoration: none;
	color:black;
}

a#back-to-top:hover {
border-radius: 2px inset green;
background: #DCEAD0;
color: green;
}